.page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    width:100%;
    height:75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(34, 25, 93);
    color:white;
}

footer h1 {
    font-family: 'Poppins', sans-serif;
}

footer i {
    text-decoration: none;
    color:white;
}

footer i:visited {
    color:white;
}

/*Home*/
#home-header {
    width:100%;
    height:500px;
    background-color: rgb(34, 25, 93);

    display: flex;
    flex-direction: row;
    align-items:center;
}

#home-title {
    width:100%;
    color:white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: left;

    margin-right:125px;
    position: absolute;
    right:0;
    z-index:1000;
}

#home-title div {
    text-align: right;
}

#home-title h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 5.5rem;
}

#home-header-div {
    width:100%;
    height:100%;
}

#home-header-div img {
    max-width: 100%;
    min-width: 100%;
    height:100%;
}

.section-title {
    text-align: center;
    margin-bottom:none;
    margin: 30px 20px;
    font-size: 2.3rem;
}

#home-brief-goal{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:20px 0;
    background-color: rgba(43, 151, 141, 0.8);
}

#home-goal-description {
    width:50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right:20px;
    padding:30px;
}

#home-goal-description div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#home-goal-description h2 {
    font-size: 1.75rem;
    margin-right:10px;
}

#home-goal-description p {
    font-size: 1.4rem;
}

#home-goal-description img {
    width:75px;
    height:75px;
    margin-left:20px;
}

#home-goal-description a {
    text-decoration: none;
    color:black;
    font-size: 1.4rem;
}

/*--*/

#home-follow-along {
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding:50px;
    background-color: rgba(242, 131, 113, 0.8);
}

#home-follow-along ul {
    width: 50%;
    font-size: 1.4rem;
}

#home-social-icons {
    display: flex;
    flex-direction: row;
}

#home-social-icons a {
    margin:30px;
    font-size: 4rem;
    color:rgb(34, 25, 93);
}

/* Mission */

#mission-header {
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#mission-header img {
    width: 100%;
}

#mission-description {
    padding:20px;
    background-color: rgb(34, 25, 93);
    border-left:100px groove rgb(43, 113, 115);
    border-right:100px solid rgb(34, 25, 93);
}

#mission-description div, #mission-values div {
    width:80%;
    margin:0 auto;
    color:white;
    font-size: 1.25rem;
}

#mission-values {
    padding:20px;
    background-color: rgb(43, 113, 115);
    border-left:100px solid rgb(43, 113, 115);
    border-right:100px ridge rgb(34, 25, 93);
}

#mission-values #img-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
}

#mission-values img {
    width:30%;
    height:auto;
    margin:0 5px;
}

/* About Us */
#aboutUs-header {
    width:100%;
    height:500px;
    background-color: rgb(43, 113, 115);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#aboutUs-header #left {
    background: url('../Images/cofounders.png') no-repeat center / cover;
    width:550px;
    height:80%;
}

#aboutUs-header #right {
    background-color: rgb(34, 25, 93);
    color:white;
    width:350px;
    height:300px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:-30px;
}

#aboutUs-origin {
    width:100%;
    background-color: rgba(242, 131, 113, 0.25);
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

#aboutUs-origin #text {
    width:calc(100% - 200px);
    margin:20px 50px;
    font-size: 1.25rem;
}

#aboutUs-origin #triangle {
    position: absolute;
    bottom:0;
    right:0;
    width: 100px;
    height:100%;
}

#aboutUs-origin img {
    position: absolute;
    bottom:0;
    right:0;
    width:100px;
    height:100%;
}

/* Our Team */

#ourTeam-header {
    width:100%;
    height:200px;
    background-color: rgb(34, 25, 93);
    color:white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

#ourTeam-header h1 {
    font-size: 2.3rem;
}

#ourTeam-employeeContainer {
    width:100%;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    padding:20px;
    /* background-color: #EEEEEE; */
    background-color: rgb(236, 229, 247);
    border:10px solid rgb(43, 113, 115);
}

.ourTeam-card {
    width:325px;
    height:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:10px;
    padding:10px 0;
    border:2px solid rgb(190, 190, 190);
    border-radius: 10px;
}

.ourTeam-card img {
    height:auto;
    max-width:275px;
    min-height:275px;
    max-height:275px;
}

.ourTeam-card div {
    width:100%;
    margin:10px 5px;
    padding:5px;
    text-align: center;
}

.ourTeam-card div b {
    font-family:'Verdana', 'Geneva', 'Tahoma', sans-serif;
    font-weight: 700;
    color:grey;
}

#ourTeam-noEmployees {
    width:100%;
    height:calc(100vh - 150px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#ourTeam-noEmployees div {
    width:50%;
    height:200px;
    margin-top:50px;
    background-color: rgb(242, 131, 113);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contact Us */
#contact-background {
    width:100%;
    height:calc(100vh - 150px);
    background: url('https://wallpapercave.com/wp/wp3517970.jpg') no-repeat center / cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact-background section {
    background-color: rgba(5, 57, 109, 0.95);
    width:50%;
    height:80%;
}

#contact-title-div {
    width:100%;
    height:50px;
    background-color: rgb(43, 113, 115);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form-div {
    width:100%;
    height:calc(100% - 50px);

    display: flex;
    align-items: center;
    justify-content: center;
}

#form-div form {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#form-div input, #form-div textarea {
    background:none;
    border:none;
    border-bottom: 1px solid grey;
    color:white;
    font-size: 1rem;
    width:80%;
    height:30px;
    margin:5px;
}

#form-div textarea {
    height:100px;
    resize:none;
}

#form-div ::placeholder {
    color:white;
}

#form-div button {
    background-color: rgb(94, 101, 108);
    color:white;
    border:none;
    border-radius:5px;
    font-size: 1rem;
    width:50%;
    padding:10px 5px;
    margin:20px;
}

@media (max-width:875px) {
    footer h1 {
        font-size: 1.2rem;
    }

    footer ul {
        width:35%;
    }

    /* Home */

    #home-header {
        height: 350px;
    }

    #home-title {
        margin-right:75px;
    }

    #home-title h1 {
        font-size: 3.5rem;
    }

    #home-title h2 {
        font-size: 1.2rem;
    }

    .section-title {
        font-size: 2rem;
    }

    #home-goal-description {
        width:60%;
    }

    #home-goal-description h2 {
        font-size: 1.5rem;
    }

    #home-goal-description p {
        font-size: 1.2rem;
    }

    #home-goal-description a {
        font-size: 1.2rem;
    }

    #home-goal-img-div img {
        width:200px;
    }

    #home-follow-along ul {
        width: 40%;
        font-size: 1.2rem;
    }

    #home-social-icons a {
        margin:15px;
        font-size: 3.25rem;
        color:rgb(34, 25, 93);
    }

    /* Mission */
    #mission-description {
        border-left:70px groove rgb(43, 113, 115);
        border-right:70px solid rgb(34, 25, 93);
    }
    
    #mission-description div, #mission-values div {
        width:100%;
        font-size: 1.1rem;
    }
    
    #mission-values {
        border-left:70px solid rgb(43, 113, 115);
        border-right:70px ridge rgb(34, 25, 93);
    }

    #mission-values #img-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    #mission-values img {
        width:70%;
        height:30%;
        margin:5px 0;
    }

    /* About Us */
    #aboutUs-header {
        height:400px;
    }
    
    #aboutUs-header #left {
        width:375px;
    }
    
    #aboutUs-header #right {
        width:250px;
        height:225px;
        margin-left:-20px;
    }

    #aboutUs-origin #text {
        width:calc(100% - 100px);
        margin:20px;
        font-size: 1.25rem;
    }

    #aboutUs-origin #triangle {
        width: 70px;
    }
    
    #aboutUs-origin img {
        width:70px;
    }

    /* Contact Us */
    #contact-background section {
        width:70%;
    }
}

@media (max-width:575px) {
    footer {
        justify-content: left;
    }

    footer h1 {
        margin-left:10px;
    }

    footer ul {
        width:80%;
    }

    footer i {
        visibility: hidden;
    }

    /* Home */

    #home-header {
        height:250px;
    }

    #home-title {
        height:250px;
        justify-content: flex-end;
        margin-right:30px;
        margin-bottom:30px;
    }

    #home-title h1 {
        font-size: 2.7rem;
    }

    #home-title h2 {
        font-size: 1rem;
    }

    .section-title {
        font-size: 1.4rem;
    }

    #home-brief-goal {
        flex-direction: column;
    }

    #home-goal-description {
        width:100%;
    }

    #home-goal-description h2 {
        font-size: 1.5rem;
    }

    #home-goal-description p {
        font-size: 1.15rem;
    }

    #home-goal-description a {
        font-size: 1.15rem;
    }

    #home-goal-img-div img {
        width:100%;
    }

    #home-follow-along {
        padding:20px;
    }

    #home-follow-along ul {
        width: 80%;
        padding-left:20px;
        font-size: 1.2rem;
    }

    #home-social-icons {
        flex-direction: column;
    }

    #home-social-icons a {
        font-size: 2.5rem;
    }

    /* Mission */
    #mission-header {
        height:0px;
        visibility: hidden;
    }

    #mission-description {
        border-top: 25px groove rgb(43, 113, 115);
        border-left:none;
        border-right:none;
    }
    
    #mission-description div, #mission-values div {
        text-align: center;
        font-size: 1rem;
    }
    
    #mission-values {
        border-top:25px groove rgb(34, 25, 93);
        border-left:none;
        border-right:none;
    }

    #mission-values #img-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    #mission-values img {
        width:85%;
        height:30%;
        margin:5px 0;
    }

    /* About Us */
    #aboutUs-header {
        height:400px;
        flex-direction: column;
    }
    
    #aboutUs-header #left {
        width:300px;
    }
    
    #aboutUs-header #right {
        width:250px;
        height:225px;
        margin-left:0;
        margin-top:-20px;
    }

    #aboutUs-origin {
        border-top:25px groove rgb(242, 131, 113);
    }

    #aboutUs-origin #text {
        width:100%;
        font-size: 1rem;
    }

    #aboutUs-origin #triangle {
        width:0px;
        visibility: hidden;
    }

    /* Contact Us */
    #contact-background section {
        width:80%;
    }
    
}
